@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap";

:root{
    --color-black: #111111;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    color: var(--color-black);
}
html{
    height: 100%;
}

body{
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

header{
    display: flex;
    height: 8vh;
    width: 940px;
    margin: 0 auto;
}
header .img{
    margin-top: 3vh;
}
header .img img{
    background-image: var(--color-black);
}
header .links{
    margin: 3.5vh 0 0 10%;
    width: 300px;
}
header .links a{
    margin-right: 3%;
    text-decoration: none;
    font-size: 16px;
    line-height: 26px;
}
.pagina{
    min-height: 100%;
    position: relative;
}
.conteudo{
    padding-bottom: 50px;
}
/*=== RETANGULO ===*/
#retangulo{
    width: 940px;
    height: 366px;
    margin: 0 auto;
    background: #FBDFDB;
    border-radius: 30px;
    display: flex;
}
#texto-retangulo{
    margin: 117px 0 0 60px;
}
#texto-retangulo h2{
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
    width: 305px;
    height: 38px;
    margin-bottom: 10px;
}
#texto-retangulo p{
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    opacity: 0.7;
    width: 316px;
    height: 84px;
}
#img-chefe {
    width: 216px;
    height: 300px;
    margin: 66px 0 0 248px;
}

/*=== receitas ===*/
.conteudo h3{
    font-weight: bold;
    font-size: 24px;
    width: 940px;
    margin: 50px auto 0;
}

.cards{
    width: 940px;
    margin: 20px auto 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card div img{
    width: 300px;
    height: 140px;
    border-radius: 15px;
}

.box-information h4{
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 18px;
}

.box-information p{
    font-size: 14px;
    color: #777777;
    margin-bottom: 10px;
}

/*=== footer ===*/
.footer{
    background-color: #eeeeee;
    padding: 23px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer p{
    font-size: 14px;
    color: #999999;
    text-align: center;
}