{% extends "layout.njk" %}

{% block head %}
    <title>Foodfy - Receita</title>
{% endblock %}

{% block conteudo %}
    <div class="conteudo">
        <img id="bannerreceita-detalhes" src=" {{ itens.image }} " alt="{{ itens.title }}">
        <h1 id="nomereceita-detalhes">{{ itens.title }}</h1>
        <p id="nomeautor-detalhes">por
            {{ itens.author }}</p>

        <div class="detalher-conteudo">
            <div>
                <h7>Ingredientes</h7>
                <a class="botao-escondermostrar">ESCONDER</a>
            </div>
            <div id="ul">
            <ul class="caixa-escondermostrar">
                {% for item in itens.ingredients %}
                    <li>{{ item }};</li>
                {% endfor %}
            </ul>
            </div>
        </div>

        <div class="detalher-conteudo">
            <div>
                <h7>Modo de Preparo</h7>
                <a class="botao-escondermostrar">ESCONDER</a>
            </div>
            <div id="ul">
            <ul class="caixa-escondermostrar">
                {% for item in itens.preparation %}
                    <li>{{ item }};</li>
                {% endfor %}
            </ul>
            </div>
        </div>
        <div class="detalher-conteudo">
            <div>
                <h7>Informações adcionais</h7>
                <a class="botao-escondermostrar">ESCONDER</a>
            </div>
            <p class="caixa-escondermostrar">{{ itens.information }}</p>
        </div>
    </div>

    
{% endblock %}