{% extends "layout.njk" %}

{% block head %}
    <title>Foodfy - Home</title>
{% endblock %}

{% block conteudo %}

    <div class="conteudo">
        <section id="retangulo">
            <div id="texto-retangulo">
                <h2>As melhores receitas</h2>
                <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
            </div>
            <div id="img-chefe">
                <img src="/image/chef.png" alt="Desenho de um chefe com uma bandeija na mão">
            </div>
        </section>

        <h3>Mais acessadas</h3>

        <div class="cards">
            {% for item in itens %}
                <div class="card" indice="{{ loop.index0 }}">
                    <img src="{{ item.imageLocal }}" alt="Imagem do {{ item.title }}">
                    <h4>{{ item.title }}</h4>
                    <p>por
                        {{ item.author }}</p>
                </div>
            {% endfor %}

        </div>

    </div>

    
{% endblock %}