{% extends "layout.njk" %}

{% block head %}
    <title>Foodfy - Receitas</title>
{% endblock %}

{% block conteudo %}
    <div class="conteudo">
        <div class="cards">

            {% for item in itens %}
                <div class="card" indice="{{ loop.index0 }}">
                    <img src="{{ item.imageLocal }}" alt="Imagem do {{ item.title }}">
                    <h4>{{ item.title }}</h4>
                    <p>por
                        {{ item.author }}</p>
                </div>
            {% endfor %}

            {% for item in itens %}
                <div class="card" indice="{{ loop.index0 }}">
                    <img src="{{ item.imageLocal }}" alt="Imagem do {{ item.title }}">
                    <h4>{{ item.title }}</h4>
                    <p>por
                        {{ item.author }}</p>
                </div>
            {% endfor %}

        </div>
    </div>

    <script src="/scripts.js"></script>

{% endblock %}